body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: royalblue;
    background-color: rgb(250, 233, 244);
}
h1 {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 70px;
    text-align: center;
    background-color: rgb(216, 112, 147, 0.5) ;
    color: royalblue !important;
}
h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:royalblue;
}
a {
    color: rgb(220, 20, 130);
}
p {
    text-align: center;
}
ol {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:rgb(190, 94, 153);
    display: inline-block;
    text-align: left;

}
ul {
    font-weight: normal !important;
    color:rgb(220, 127, 184) !important;
    text-align: left;
}
.font-weight-bold {
    color:rgb(79, 145, 106) !important;
}
/*div styles*/
.common { 
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}
.top {
    top: 0px;
    left: 0px;
    right: 0px;
}
.middle {
    top: 20px;
    left: 0px;
    right: 0px; 
}
.bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    text-align: center;
    background-color: rgb(216, 112, 147, 0.5);
    font-style: italic;
    font-weight: bold;
}
.imgcenter {
    display: block;
    margin: auto;
    border: 10px solid rgb(216, 112, 147, 0.5);
}
.center{
    text-align: center;
}
.bold {
    font-weight: bold;
}
.tabcenter {
    display: block;
    margin: auto;
}